<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="tests" thread-count="20">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
     <listener class-name="Reporting.Report"/>
  </listeners>
  
   
   <test name="CHROME TEST">
   
      <parameter name="browser" value="chrome"/> 
      <parameter name="url" value="https://www.google.co.in"/> 
      <classes>
         <class name="Tests.Test1" />
         
      </classes>
      
   </test>
  <test name="FIREFOX TEST">
   
      <parameter name="browser" value="firefox"/> 
      <parameter name="url" value="https://www.google.co.in"/> 
      <classes>
         <class name="Tests.Test1" />
         
      </classes>
      
   </test>
</suite>